<app-header
  [title]="'Donate'"
  [subtitle]="
    'Show gratitude for this free website by donating to a charity I support.'
  "
></app-header>
<app-body>
  <div class="row">
    <div class="col-md-4 my-3" *ngFor="let donation of donations">
      <app-card [title]="donation.name">
        <p>
          {{donation.details}}
        </p>
        <a
          class="btn btn-secondary"
          [attr.href]="donation.link"
          target="_blank"
        >
          Donate
        </a>
      </app-card>
    </div>
  </div>
</app-body>
