<div class="row">
  <ng-container *ngFor="let app of apps">
    <div class="col-md-4 my-2">
      <app-card [title]="app.name" [icon]="app.icon">
        <p>
          {{ app.tagline }}
        </p>
        <a class="btn btn-primary mx-2" [href]="app.link" target="_blank">
          Visit Application
          <i class="fa fa-arrow-right"></i>
        </a>
        <button class="btn btn-outline-primary mx-2" (click)="goDetails(app)">
          Details
          <i class="fa fa-comments"></i>
        </button>
      </app-card>
    </div>
  </ng-container>
</div>
