<div class="row">
  <ng-container *ngFor="let app of apps">
    <div class="col-md-4 my-2">
      <app-card>
        <div class="text-center">
          <h4>
          <span *ngIf="app.icon">
            <i class="fa" [ngClass]="app.icon"></i>
          </span>
            {{ app.name }}
          </h4>
          <p>
            {{ app.tagline }}
          </p>
          <a class="btn btn-primary mx-2" [href]="app.link" target="_blank" *ngIf="app.link">
            Visit Application
            <i class="fa fa-external-link"></i>
          </a>
          <button class="btn btn-outline-primary mx-2" (click)="goDetails(app)">
            Details
            <i class="fa fa-info-circle"></i>
          </button>
        </div>
      </app-card>
    </div>
  </ng-container>
</div>
