<ng-container *ngIf="ready; else notReady">
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3">
        <h1>
          {{ application.name }}
        </h1>
        <p>
          <strong>Description:</strong>
          {{ application.description }}
        </p>
        <p>
          <strong>Link:</strong>
          {{ application.link }}
        </p>
        <p>
          <strong>Icon:</strong>
          {{ application.icon }}
        </p>
        <p>
          <strong>Status:</strong>
          {{ application.status }}
        </p>
        <p>
          <small>{{ application._id }}</small>
        </p>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
