<ng-container *ngIf="ready; else notReady">
  <app-body>
    <div class="row">
      <div class="col-md-10 mx-auto my-3">
        <app-card [title]="title">
          <hr>
          <form>
            <section class="mb-3">
              <label for="app-name">
                1. Name:
              </label>
              <input
                type="text"
                class="form-control"
                name="appName"
                id="app-name"
                [(ngModel)]="application.name"
              />
            </section>
            <section class="mb-3">
              <label for="app-link">
                2. App link:
              </label>
              <input
                type="text"
                class="form-control"
                name="appLink"
                id="app-link"
                [(ngModel)]="application.link"
              />
            </section>
            <section class="mb-3">
              <label for="app-github-link">
                3. GitHub link:
              </label>
              <input
                type="text"
                class="form-control"
                name="appGitHubLink"
                id="app-github-link"
                [(ngModel)]="application.githubLink"
              />
            </section>
            <section class="mb-3">
              <label for="app-tagline">
                4. Tagline:
              </label>
              <br/>
              <input
                type="text"
                class="form-control"
                name="appTagline"
                id="app-tagline"
                [(ngModel)]="application.tagline"
              />
            </section>
            <section class="mb-3">
              <label for="app-icon">
                5. Icon:
              </label>
              <input
                type="text"
                class="form-control"
                name="appIcon"
                id="app-icon"
                [(ngModel)]="application.icon"
              />
            </section>
            <section class="mb-3">
              <label for="app-description">
                6. App description:
              </label>
              <textarea
                id="app-description"
                class="form-control"
                rows="5"
                cols="50"
                (change)="updateDescription($event)"
              >{{ application.description }}</textarea
              >
            </section>
            <section class="mb-3">
              <label for="app-status">
                7. App status:
              </label>
              <div id="app-status" class="my-3">
                <button class="btn btn-secondary mx-3" (click)="setStatus(0)">
                  <i class="fa fa-check" *ngIf="application.status === 0"></i>
                  Archived
                </button>
                <button class="btn btn-secondary mx-3" (click)="setStatus(1)">
                  <i class="fa fa-check" *ngIf="application.status === 1"></i>
                  Available
                </button>
                <button class="btn btn-secondary mx-3" (click)="setStatus(2)">
                  <i class="fa fa-check" *ngIf="application.status === 2"></i>
                  Featured
                </button>
              </div>
            </section>
            <hr>
            <div
              class="error-report alert alert-danger"
              *ngIf="showErrors && !valid"
            >
              <p>Please correct the following errors:</p>
              <ul>
                <li *ngFor="let error of errors">
                  {{ error }}
                </li>
              </ul>
            </div>
            <button class="btn btn-success btn-block" (click)="submit()">
              Save Application
            </button>
          </form>
        </app-card>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
